<div class="row card highlight-card card-small text-center ms-0 me-0">
    <span>Colour</span>
</div>
<div class="row">
    <div class="col-12">
        <a [routerLink]="['/pages/colour/create']" class="btn btn-primary text-white float-end">Create
        </a>
    </div>
    <div class="col-12">
        <div>
            Showing <strong>{{currentRows}}</strong> of <strong>{{totalRows}}</strong> items
        </div>

        <ng2-smart-table [settings]="settings" [source]="source" #table></ng2-smart-table>
    </div>
</div>