<div class="row card highlight-card card-small text-center ms-0 me-0">
    <span>{{title}} Order #{{order?.order_number}}</span>
</div>

<div class="row">
    <div class="col-12 col-lg-12 text-center">
        <button class="btn btn-warning text text-white" (click)="printInvoice()">Print</button>
    </div>
</div>
<div id="print-section">
    <div class="row">
        <div class="col-12 col-lg-12">
            <table class="table table-bordered mt-2">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center">Order Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Order Number</th>
                        <td>#{{order?.order_number}}</td>
                    </tr>
                    <tr>
                        <th>Business</th>
                        <td>{{order?.name}}</td>
                    </tr>
                    <tr>
                        <th>Delivery Date</th>
                        <td>{{order?.delivery_time}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <table class="table table-bordered mt-2">
                <thead>
                    <tr>
                        <th colspan="6" class="text-center">Items</th>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <th>Colour</th>
                        <th>Size</th>
                        <th>Quantity</th>
                        <th>Regular Price</th>
                        <th>Final Price</th>
                    </tr>
                </thead>
                <!-- {{log(sizeList)}} -->
                <tbody>
                    <tr *ngFor="let row of order?.items">
                        <td>
                            {{row.message}}
                        </td>
                        <td>
                            {{row.colour_name}}
                        </td>
                        <td>
                            {{row.size_name}}
                        </td>
                        <td>
                            {{row.quantity}}
                        </td>
                        <td>
                            {{row.regular_price}}
                        </td>
                        <td>
                            {{row.price}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-12">
        <table class="table table-bordered mt-2">
            <thead>
                <tr>
                    <th colspan="3" class="text-center">Status History</th>
                </tr>
                <tr>
                    <th>Status</th>
                    <th>Datetime</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of order?.status">
                    <td>{{row.name}}</td>
                    <td>{{row.status_date}}</td>
                    <td>{{row.comment}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" *ngIf="order?.current_status?.status_id != 5 &&  order?.current_status?.status_id != 6">
    <div class="col-12 col-lg-12">
        <form [formGroup]="formGroup" (ngSubmit)="changeStatus($event)">
            <table class="table table-bordered mt-2">
                <tbody>
                    <tr>
                        <th class="text-center">Change Status</th>
                    </tr>
                    <tr>
                        <td>
                            <label>Status</label>
                            <ng-select bindLabel="name" bindValue="id" placeholder="Please Select" name="statusId"
                                formControlName="statusId">
                                <ng-option [value]="row.id" *ngFor="let row of statusList">
                                    {{row.name}}
                                </ng-option>
                            </ng-select>

                            <ngx-control-messages [control]="formGroup.get('statusId')" [fieldName]="'Status'">
                            </ngx-control-messages>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Comments</label>
                            <textarea class="form-control" name="comment" formControlName="comment"></textarea>
                            <ngx-control-messages [control]="formGroup.get('comment')" [fieldName]="'Comment'">
                            </ngx-control-messages>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>