<div class="row">
    <div class="col-4">
        <div class="card text-center w-100">
            <div class="card-body">
                <h5 class="card-title">Orders</h5>
                <p class="card-text">Manage order</p>
                <a [routerLink]="['/pages/order']" class="btn btn-primary text-white">Go orderes</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-center w-100">
            <div class="card-body">
                <h5 class="card-title">Deliveries</h5>
                <p class="card-text">Manage all deliveries</p>
                <a [routerLink]="['/pages/delivery']" class="btn btn-primary text-white">Go deliveries</a>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card text-center w-100">
            <div class="card-body">
                <h5 class="card-title">Payments</h5>
                <p class="card-text">Manage all payments</p>
                <a [routerLink]="['/pages/payment']" class="btn btn-primary text-white">Go payments</a>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card text-center w-100">
            <div class="card-body">
                <h5 class="card-title">Sizes</h5>
                <p class="card-text">Manage all size</p>
                <a [routerLink]="['/pages/size']" class="btn btn-primary text-white">Go Sizes</a>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card text-center w-100">
            <div class="card-body">
                <h5 class="card-title">Colours</h5>
                <p class="card-text">Manage all colour</p>
                <a [routerLink]="['/pages/colour']" class="btn btn-primary text-white">Go Colours</a>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card text-center w-100">
            <div class="card-body">
                <h5 class="card-title">Businesses</h5>
                <p class="card-text">Manage all business</p>
                <a [routerLink]="['/pages/businesses']" class="btn btn-primary text-white">Go Businesses</a>
            </div>
        </div>
    </div>
    
    <div class="col-3">
        <div class="card text-center w-100">
            <div class="card-body">
                <h5 class="card-title">Admins</h5>
                <p class="card-text">Manage all admin</p>
                <a [routerLink]="['/pages/admin']" class="btn btn-primary text-white">Go Admins</a>
            </div>
        </div>
    </div>

</div>